#netflix {
  height: 100vh;
  font-size: 5em;
  font-family: impact;
  display: flex;
  justify-content: center;
  align-items: center;
  perspective: 1000px;

}
body{
  	background-color: #000000;
}

span {
  color: red;
  text-shadow: 7px 2px 10px black;
  opacity: 0;
}

span:first-child {
  opacity: 1;
  transform: translate(550%);
  position: relative;
  z-index: 1;
  animation: spin 8s linear 2s infinite;
}

@keyframes spin {
  25% {
    transform: translate(0%)
  }
  50% {
    transform: translate(0%)
  }
  75% {
    transform: translate(550%)
  }
}

@keyframes showLetter {
  24.75% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity 0;
  }
}
